{% extends "base.jinja2" %}

{% block title -%}
	{{ c.speaker.nickname }}
{%- endblock title %}

{% block content -%}
	<h1> {{ c.speaker.first_name }} {{ c.speaker.last_name}} info! </h1>
	<p>
		First Name = {{ c.speaker.first_name }}<br />
		Last Name = {{ c.speaker.last_name }}<br />
		Nickname =  {{ c.speaker.nickname }}<br />
		
		Talks = {% for talk in c.speaker.talks -%}
		{{ h.link_to(talk.title, h.url_for(controller='talk', action='display', id=talk.id)) }},
		{%- endfor %} 
	</p>
{%- endblock content %}

