{% extends "base.jinja2" %}
{% block content -%}
<div class="content">
    <h1>OpenID Association</h1>
    
    <p>The OpenID URL you used (<b>{{c.openid}}</b>) was not found
        in our database. If you would like to associate this OpenID URL with
        an existing account so that you can use this OpenID URL to login with
        in the future, proceed below.</p>
    
    <p>If you would like to register with {{email.PRODUCT_NAME}} instead
        ${h.link_to(_('continue on to the registration page'), url=url('openid_register'))}.
    
    {{ h.accountforms.login_form(action=url('openid_associate')) }}
</div>
{%- endblock content %}
{% block title %}{{Associate OpenID Account}}{% endblock title %}
