{% extends "base.jinja2" %}
{% block content %}
<div class="content">
    <h1>Reset Password</h1>
    
    <p>Enter a new password, to reset your login password.</p>
    
    {{ h.accountforms.change_password_form(action=url('reset_password', token=c.token)) }}
</div>
{% endblock content %}
{% block title %}Reset Password{% endblock %}
