{% extends "base.jinja2" %}
{% block content -%}
<div class="content">
    <h1>Password Reset Request</h1>
    <p>Enter your e-mail address to request a password reset.</p>
    {{ h.accountforms.forgot_password_form(action=url('forgot_password')) }}
</div>
{% endblock content %}
{% block title %}Password Reset Request{% endblock %}
