{% extends "base.jinja2" %}

{% block content -%}
<div class="content">
    <h1>Login</h1>
    {{ h.accountforms.login_form(action=url('account_login'))}}
    <p>{{ h.link_to('Forgot your password?', url=url('forgot_password')) }}</p>
</div>

{%- endblock content %}
