html {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #666666;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12pt;
    color: #FFFFFF;
    text-align: center;
	margin: 0;
}

#container {
    position: relative;
    width: 700px;
    margin: 0 auto;
    text-align: justify;
}

#form {
	margin-top: -10px;
}

#form input {
	font-size: 12pt;
}

#form input.email {
	padding: 2px;
}

.header {
    position: relative;
    height: 46px;
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-align: left;
    margin-top: 20px;
}



#footer {
    margin-top: 20px;
    font-size: 10px;
    color: #999;
}

p {
    line-height: 23px;
    padding: 10px 0 10px 0;
	text-align: justify;
}



h1 {
	padding: 10px 0;
    font-size: 41px;
    font-weight: bold;
	letter-spacing: 1.8px;
/*    color: #000000;
	background-color: #FFFF00;
*/
	color: #FFFF00;
	background-color: #000000;
	text-align: center;
	margin-top: -20px;
}






a {
    text-decoration: none;
	color: #ccc;
}

a:hover {
	text-decoration: underline;
}
