{% extends "base.jinja2" %}

{% block title -%}
	{{ c.talk.title }}
{%- endblock title %}

{% block content -%}
    {% if session['current'] %}
        <div id="talk_context">
            {% if session['current']['type'] == 'stumble' %}
                {{ h.link_to('stumble on!', h.url_for('talk_stumble_next')) }}
            {% endif %}
            {% if session['current']['type'] == 'search' %}
                {{ h.link_to('back to search', h.url_for('talk_search', kw=session['current']['term'])) }}
            {% endif %}
        </div>
    {% endif %}
	<div id=feat_box>
		<div class=container>
            {% set talk = c.talk %}
			<div class=feat_preview>
				{{ c.talk.video_embedcode }}
			</div>
			<div class=feat_titlebar>
                <a href="{{ c.talk.url }}">
                    {{ c.talk.title }}
                </a>
			</div>
			<div class=feat_info>
                {% for x in c.talk.speakers %}
                    {{x.name}} {{x.job_title or ''}}<br />
                {% endfor %}
			</div>
		</div>
	</div>
{%- endblock content %}

