{% extends "base.jinja2" %}

{% block title %}LOL{% endblock %}

{% block content %}
	<div class="container nomtop" id="sheet_container">
		<div class="sheet">
			{% for talk in c.talks -%}
                <div class="result">
                    <a href="{{ talk.url }}">
                    <div class=result_preview>
                        <img src='{{ talk.thumbnail_url }}' width="80px" />
                    </div>
                    <div class=result_txt>
                        <h2 class=result_title>
                            {{ h.smart_truncate(talk.title, 64) }}<br />
                        </h2>
                        {{ h.smart_truncate(talk.description, 96) }}<br />
                        {% for speaker in talk.speakers %}
                                {{ speaker.name }}{% if speaker.job_title -%} {{ speaker.job_title }}{%- endif %},
                        {% endfor %}
                    </div>
                    </a>
                </div>
            {% else %}
                <div class="result">
                    Zu den Kriterien wurde kein Talk gefunden!
                </div>
			{%- endfor %}
			
		</div>
	</div>
{% endblock %}
