<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {{ h.javascript_link('/js/jquery-ui-1.7.2/jquery-1.3.2.js', '/js/jquery-ui-1.7.2/ui/jquery-ui.js') }}
    {{ h.javascript_link('/js/ht.js') }}
    {{ h.stylesheet_link("/js/jquery-ui-1.7.2/themes/base/jquery-ui.css") }}
    {{ h.stylesheet_link("/js/jquery-ui-1.7.2/themes/base/ui.all.css") }}
        
	{% block head %}
	{{ h.stylesheet_link(h.url_for('/style.css')) }}
	<title>{% block title %}{% endblock %} - HackerTalks</title>
	{% endblock %}

</head>

<body>
    <div class="container">
        <div id="userbar">
            {% if request.user %}
                Hello {{request.user.displayname}}! ({{ h.link_to('logout', h.url_for('account_logout')) }})
            {% else %}
                Hi there! Do we {{ h.link_to('know you', h.url_for('account_login')) }}?
            {% endif %}
            </div>
        <a href="/">
            <div class="header">
            </div>
        </a>
	</div>
	<div id="bar">
		<div class="container">
			<ul class="menu">
				<li class="search">
					<a href="search">search</a>
					<div id="search_container">
						<h2 class=result_title>Search our database for talks, conferences or speakers!</h2><br />
                            {{h.form(h.url(controller='talk',action='searchpoint'), method='get')}}
                                {{h.text("search", class_="search", size="45")}}
                                {{h.submit("","Search")}}
                            {{h.end_form()}}
						</form>
					</div>
				</li>
				<li class="stumble">
					<a href="stumble">stumble</a>
                    <div id="stumble_container">
                        {{ h.form(h.url(controller='talk',action='stumble'), method='post')}}
                            <h2>Tags</h2>
                            <ul class="tags">
                            {% for t in h.popular_tags() %}
                                <li class="tag">{{h.checkbox("tag", value=t.name)}}{{t.name[:15]}}</span>
                            {% endfor %}
                            </ul>

                            <h2>Duration</h2>
                            <div class="duration">
                                <span id="duration_start_display"></span>-
                                <span id="duration_end_display"></span> Minutes
                                <div id="stumble_duration"></div>
                                {{h.hidden("duration_start", 10)}}
                                {{h.hidden("duration_end", 90)}}
                            </div>

                            <div class="btns">
                                {{h.submit("", "go")}}
                            </div>

                        {{h.end_form()}}
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	{% block content %}
	{% endblock content %}
	
	<div id="footer">
		copylefted footer
	</div>
</body>
</html>
