<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	{% block head %}
	{{ h.stylesheet_link(h.url_for('/style.css')) }}
	<title>{% block title %}{% endblock %} - HackerTalks</title>
	{% endblock %}

</head>

<body>
	<div class=container>
		<div class=header>
		</div>
	</div>
	<div id=bar>
		<div class=container>
			<ul class=menu>
				<li class=search><a href='search'>search</a></li>
				<li class=stumble><a href='stumble'>stumble</a></li>
			</ul>
		</div>
	</div>
	
	{% block content %}
	{% endblock content %}
	
	<div id=footer>
		copylefted footer
	</div>
</body>
</html>
