{% extends "base.jinja2" %}

{% block title %}Location{% endblock %}

{% block content %}
				<h1> {{ c.message }} <h1>	
               <h2>Oops! Something interesting occurred... let's say it's a minor error & try that again.</h2>
{% endblock %}
