{% extends "base.jinja2" %}

{% block title %}Featured{% endblock %}

{% block content %}
	<div id=feat_box>
		<div class=container>
            <a href="{{ h.url_for('talk', id=c.featured_talks[0].id) }}">
			<div class=feat_preview>
				<img src='{{ c.featured_talks[0].thumbnail_url }}' width='480' />
			</div>
			<div class=feat_titlebar>
				Featured: {{ h.smart_truncate(c.featured_talks[0].short_title, 34) }}
			</div>
			<div class=feat_info>
                {% set talk = c.featured_talks[0] %}
                {% include 'talk.inc.jinja2' %}
			</div>
            </a>
		</div>
	</div>

	<div class=container id=sheet_container>
		<div class=sheet>

            {{session.displayname}} --

			{% for talk in c.featured_talks[1:7] -%}
			
            <div class="result">
                <a href="{{ h.url_for('talk', id=talk.id) }}">
                    <div class="result_preview">
                        <img src='{{ talk.thumbnail_url }}' width='70' />
                    </div>
                    <div class="result_txt">
                        <h2 class=result_title>
                            {{ h.smart_truncate(talk.title, 64) }}<br />
                        </h2>
                        {{ h.smart_truncate(talk.description, 90) }}<br />
                        {% for speaker in talk.speakers %}
                            {{ speaker.name }}{% if speaker.job_title -%} {{ speaker.job_title }}{%- endif %},
                        {% endfor %}
                    </div>
                </a>
            </div>
			
			{%- endfor %}
		</div>
	</div>
{% endblock %}
