{% extends "base.jinja2" %}

{% block title -%}
	404
{%- endblock title %}

{% block content -%}
	<h1> four oh four! </h1>
	<p>
		The talk ID you requested could not be found.
	</p>
{%- endblock content %}

