<h2>{{ talk.title }}</h2>
<p>
    {% for speaker in talk.speakers %}
        {{ speaker.name }} {% if speaker.job_title -%}({{ speaker.job_title }}){%- endif %}<br />
    {% endfor %}
</p>
<p>{{ talk.recording_date }}<br />
{{ h.format_duration(talk.video_duration) }}</p>
<p>{{ h.smart_truncate(talk.description, 134) }}</p>
