{% extends "base.html" %}

{% block title %}search{% endblock %}

{% block content %}
    <div class="container nomtop" id="sheet_container">
        <div class="sheet">
            {% for talk in talks %}
                <div class="result">
                    <a href="{{ talk.get_absolute_url }}">
                    <div class=result_preview>
                        <img src='{{ talk.video_image }}' width="80px" />
                    </div>
                    <div class=result_txt>
                        <h2 class=result_title>
                            {{ talk.title|truncatewords:4 }}<br />
                        </h2>
                        {{ talk.description|truncatewords:20 }}<br />
                        {% for speaker in talk.speakers.all %}
                                {{ speaker.name }} {{ speaker.title|default:''}}
                        {% endfor %}
                    </div>
                    </a>
                </div>
            {% empty %}
            {% if search %}
                {% if not terms %}
                Please search for terms 3 characters long or longer.
                {% else %}
                Couldn't find talks containing {{terms|join:','}}.
                {% endif %}
            {% endif %}
            {% endfor %}
            
        </div>
    </div>
{% endblock %}
